:root {
  --gray-01: #111;
  --gray-02: #222;
  --gray-03: #333;
  --gray-04: #444;
  --gray-05: #555;
  --gray-06: #666;
  --gray-07: #777;
  --gray-08: #888;
  --gray-09: #999;
  --gray-aa: #aaa;
  --gray-bb: #bbb;
  --gray-cc: #ccc;
  --gray-dd: #ddd;
  --gray-ee: #eee;
  --gray-e1: #e1e1e1;
  --gray-01-text: var(--gray-ee);
  --gray-02-text: var(--gray-ee);
  --gray-03-text: var(--gray-ee);
  --gray-04-text: var(--gray-ee);
  --gray-05-text: var(--gray-ee);
  --gray-06-text: var(--gray-ee);
  --gray-07-text: var(--gray-01);
  --gray-08-text: var(--gray-01);
  --gray-09-text: var(--gray-01);
  --gray-aa-text: var(--gray-01);
  --gray-bb-text: var(--gray-01);
  --gray-cc-text: var(--gray-01);
  --gray-dd-text: var(--gray-01);
  --gray-ee-text: var(--gray-01);
  --gray-e1-text: var(--gray-01);
  --lightest-gray: #eeeeee;
  --lighter-gray: #efefef;
  --light-gray: #e1e1e1;
  --dark-gray: #222222;
  --darker-gray: #111111;
  --darkest-gray: #101010;
  --background-color: var(--darker-gray);
  --primary-purple: #6a1fea;
  --primary-purple-rgb: 106,31,234;
  --accent-purple: #CDB4F8;
  --accent-purple-rgb: 205,180,248;
  --secondary-purple: #300b71;
  --secondary-purple-rgb: 48,11,113;
  --tertiary-purple: #150530;
  --tertiary-purple-rgb: 21,5,48;
  --primary-purple-text: #FFF;
  --secondary-purple-text: var(--accent-purple);
  --tertiary-purple-text: var(--accent-purple);
  --accent-purple-text: var(--secondary-purple);
  --primary-lime: #9fea1f;
  --primary-lime-rgb: 159,234,31;
  --accent-lime: #dff8b4;
  --accent-lime-rgb: 223,248,180;
  --secondary-lime: #4b710b;
  --secondary-lime-rgb: 75,113,11;
  --tertiary-lime: #203005;
  --tertiary-lime-rgb: 32,48,5;
  --primary-lime-text: #404040;
  --secondary-lime-text: var(--accent-lime);
  --tertiary-lime-text: var(--accent-lime);
  --accent-lime-text: var(--secondary-lime);
  --w-xl: 1200px;
  --w-lg: 1024px;
  --w-md: 768px;
  --w-sm: 500px;
}

body {
  background-color: var(--darker-gray);
  background-image: linear-gradient(to bottom right, rgba(var(--secondary-purple-rgb), 0.4), transparent 45%);
}

a {
  color: var(--accent-purple);
  padding: 0.25rem 0;
  text-decoration: underline;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}
a:hover, a:focus {
  color: var(--light-gray);
  text-decoration: none;
}
a:focus {
  background-color: var(--primary-purple-text);
  color: var(--light-gray);
}

.round-border {
  border-radius: 0.5rem;
}

.container {
  max-width: 82rem;
  padding: 0 5vw;
}

body > nav {
  background-color: var(--darker-gray);
  border-bottom: 1px solid var(--darkest-gray);
  font-weight: bold;
}
body > nav .menu-item {
  letter-spacing: 0.1rem;
  min-width: 8rem;
  padding: 1rem 0;
  text-transform: uppercase;
}
body > nav .menu-item a {
  text-decoration: none;
}
body > nav .menu-item a:hover, body > nav .menu-item a:focus {
  text-decoration: underline;
}
body > nav .search-dropdown {
  background-color: var(--dark-gray);
}
body > nav .search-dropdown a {
  text-decoration: none;
}
body > nav .search-dropdown a:hover, body > nav .search-dropdown a:focus {
  background-color: var(--gray-04);
  color: var(--gray-04-text);
}

.title {
  color: var(--light-gray);
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: var(--darkest-gray) 1px 1px 5px;
}

.subtitle {
  color: var(--light-gray);
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: var(--darkest-gray) 1px 1px 3px;
  text-transform: uppercase;
}

.game-card {
  background-image: linear-gradient(to bottom right, transparent 50%, var(--primary-purple));
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;
  margin-right: 2rem;
  padding: 0 1px 1px 0;
  position: relative;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
  z-index: 0;
}
.game-card:before {
  background: var(--darker-gray);
  border-radius: inherit;
  content: "";
  margin: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.game-card .boxart {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.game-card .boxart a {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}
.game-card .boxart a:before {
  background-image: linear-gradient(to top right, var(--primary-purple), transparent);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}
.game-card .boxart a:hover:before, .game-card .boxart a:focus:before {
  opacity: 0.8;
}
.game-card .boxart img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  z-index: 0;
}
.game-card .rating-wrapper {
  box-shadow: 1px 1px 1px 1px var(--darkest-gray);
}
.game-card .game-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
}
.game-card .game-title {
  display: inline-block;
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 1rem;
  max-width: 90%;
  padding: 0;
  text-decoration: none;
}

#trending-wrapper .game-card {
  flex-grow: 0;
  width: calc(33% - 2rem);
}
#trending-wrapper .game-card:nth-of-type(3n) {
  margin-right: 0;
}

.similar-games-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.similar-games-wrapper .game-card {
  font-size: 0.9em;
  margin-right: 1.2rem;
  max-width: calc(14% - 0.85rem);
}
.similar-games-wrapper .game-card:last-of-type {
  margin-right: 0;
}
.similar-games-wrapper .game-card .game-title {
  font-size: 0.9em;
}
.similar-games-wrapper .game-card .rating-wrapper {
  bottom: 0.25rem;
  font-weight: normal;
  height: 3rem;
  right: 0.25rem;
  width: 3rem;
}
.similar-games-wrapper .game-card .rating-wrapper span {
  left: 0.85rem;
  top: 0.65rem;
}

.game-card-small {
  /*background-image : linear-gradient(
      to bottom right,
      transparent 50%,
      //rgba(124, 58, 237, .2),
      var(--primary-purple),
  );*/
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  position: relative;
  z-index: 0;
  /*&:before {
      background: var(--darker-gray);
      border-radius: inherit;
      content: '';
      margin: 1px;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
  }*/
}
.game-card-small .boxart {
  border-radius: 0.5rem;
  padding: 0;
}
.game-card-small .boxart a {
  border-radius: 0.5rem;
}
.game-card-small .boxart a :before {
  border-radius: 0.5rem;
}
.game-card-small .boxart img {
  border-radius: 0.25rem;
}
.game-card-small:first-of-type {
  margin-top: 0;
}

#trending-wrapper {
  width: 100%;
  max-width: 70%;
}

#main-aside {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  max-width: calc(30% - 3rem);
  padding: 1.5rem;
}
#main-aside h3 {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
#main-aside h3:first-of-type {
  margin-top: 0;
}

#details-wrapper {
  margin: 0 auto;
  max-width: 75rem;
}

.cover img {
  background-image: linear-gradient(to bottom right, transparent 50%, var(--primary-purple));
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 0 1px 1px 0;
  position: relative;
  z-index: 0;
}
.cover img:before {
  background: var(--darker-gray);
  border-radius: inherit;
  content: "";
  margin: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#details {
  font-size: 1em;
}
#details .rating-label {
  font-size: 0.9em;
  margin-left: 1rem;
}

#game-details-sidebar {
  min-width: calc(30% - 1rem);
}

.related-details-card {
  background-color: rgba(var(--tertiary-purple-rgb), 0.25);
  border: 1px solid var(--darker-gray);
  border-radius: 0.5rem;
  padding: 1rem;
}
.related-details-card a {
  color: var(--accent-purple);
}
.related-details-card h4 {
  background-color: var(--darkest-gray);
  font-style: italic;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.related-details-card span {
  display: inline-block;
  padding-left: 1rem;
}
.related-details-card .details-card-section {
  margin-bottom: 1.5rem;
}
.related-details-card .fa-check-square {
  color: var(--primary-lime);
  margin-left: 1rem;
  margin-right: 0.25rem;
}
.related-details-card .coop-label {
  padding-left: 0;
}
.related-details-card .coop-details h3 {
  background-color: var(--darkest-gray);
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
}

#companies-wrapper .companies {
  margin-bottom: 1rem;
}

#screenshots .screenshot a {
  display: inline-block;
  padding: 0 1px 1px 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}
#screenshots .screenshot a:hover, #screenshots .screenshot a:active {
  background-image: linear-gradient(to bottom right, var(--darker-gray), var(--primary-purple));
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 0;
}
#screenshots .screenshot a:hover:before, #screenshots .screenshot a:active:before {
  background-image: linear-gradient(to bottom right, var(--darker-gray), var(--primary-purple));
  border-radius: inherit;
  content: "";
  margin: 1px;
  opacity: 0.45;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
  z-index: 0;
}
#screenshots .screenshot-modal-bg {
  background-color: var(--background-color);
}

#games-listing-wrapper .game-card-small {
  margin: 0;
  padding: 0;
}

#games-grid {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 2rem;
}
